de_alliantie/webservices/woningnet/Object/ObjectISService_ep_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.woningnet.nl/IS/Object"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:tns="http://www.woningnet.nl/IS/Object"
				  xmlns:sobj="http://www.woningnet.nl/IS/ObjectService"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:documentation>
		<abstractWSDL>http://accext-servicebus.woningnet.nl:80/soa-infra/services/default/ObjectIS!1.0/ObjectIS.wsdl
		</abstractWSDL>
	</wsdl:documentation>
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.woningnet.nl/IS/ObjectService" schemaLocation="ObjectISService_ep.xsd"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="SaveObjectRequest">
		<wsdl:part name="request" element="sobj:SaveObjectRequest"/>
	</wsdl:message>
	<wsdl:message name="SaveObjectResponse">
		<wsdl:part name="reply" element="sobj:SaveObjectResponse"/>
	</wsdl:message>
	<wsdl:message name="SaveHuidigeBewonerRequest">
		<wsdl:part name="request" element="sobj:SaveHuidigeBewonerRequest"/>
	</wsdl:message>
	<wsdl:message name="SaveHuidigeBewonerResponse">
		<wsdl:part name="reply" element="sobj:SaveHuidigeBewonerResponse"/>
	</wsdl:message>
	<wsdl:portType name="IObjectIS">
		<wsdl:operation name="SaveObject">
			<wsdl:input message="tns:SaveObjectRequest"/>
			<wsdl:output message="tns:SaveObjectResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SaveHuidigeBewoner">
			<wsdl:input message="tns:SaveHuidigeBewonerRequest"/>
			<wsdl:output message="tns:SaveHuidigeBewonerResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IObjectISBinding" type="tns:IObjectIS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SaveObject">
			<soap:operation style="document" soapAction="SaveObject"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SaveHuidigeBewoner">
			<soap:operation style="document" soapAction="SaveHuidigeBewoner"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ObjectISService_ep">
		<wsdl:port name="IObjectIS_pt" binding="tns:IObjectISBinding">
			<soap:address
					location="http://accext-servicebus.woningnet.nl:80/soa-infra/services/default/ObjectIS!1.0*soa_248d6d17-85db-4fd0-a736-35ec2efe4ed6/ObjectISService_ep"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>